footer {
  text-align: center;
}
h1 {
  text-align: center;
  margin: 50px;
}
div.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}
select {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
}
span.time {
  float: right;
  font-weight: 600;
  font-size: 25px;
}
span.date {
  float: left;
  font-weight: 600;
}
div.city {
  padding: 5px;
}
