body {
  background-color: #cccccc4a;
}
footer {
  text-align: center;
  margin: 20px;
}
h1 {
  text-align: center;
  margin: 50px;
}
div.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 45px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}
select {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
option {
  text-align: center;
}
span.time {
  float: right;
  font-weight: 600;
  font-size: 25px;
}
span.date {
  float: left;
  font-weight: 500;
}
div.city {
  padding: 5px;
}
